:host {
    display: block;
    width: 100%;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  